@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5% 0;
  z-index: 20;
}

.header a {
  font-size: 2vw;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
}

.header .icon {
  font-size: 28px;
  background: none;
}

.header .item{
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .item i{
  font-size: 18px;
}